@charset "utf-8";
.back-top{ position: fixed; z-index: 99;
  a{ display: block; padding: 10px; color: #fff; text-align: center; border-radius: 2px; background: #2d8cf0; cursor: pointer;
    &:hover{ }
  }
}