@charset "utf-8";
.cascader-box{ display: inline-block; position: relative;
  //用个标签挡住输入框底边线
  .mask{ content: ''; height: 2px; background: #fff; position: absolute; left: 0; top: 38px; width: 100%; display: block; z-index: 100; border-left: 1px solid #f60; border-right: 1px solid #f60; box-sizing: border-box; }
  .input-control{ position: relative;
    &:after{ top: 0; content: '\E69E'; display: block; position: absolute; right: 10px; height: 38px; line-height: 38px; transition: all .2s; transform: rotate(90deg); cursor: pointer; font-family: "iconfont"; font-size: 18px; }
    &.focus{
      &:after{ transform: rotate(-90deg); }
    }
  }
  .cascader-down{ position: absolute; left: 0; top: 39px; width: 360px; border: 1px solid #f60; background: #fff; z-index: 99; padding: 10px; overflow: hidden;
    .tips{ margin-bottom: 5px; font-size: 12px; font-weight: 700; color: #666 }
    .cascader-tab{ @include height(25px); border-bottom: 1px solid #ddd;
      li{ float: left; padding: 0 10px; margin-right: 10px; border: 1px solid #ddd; color: #2d8cf0; font-weight: 700; background: #fff; cursor: pointer; @include height(24px); border-bottom: 0; overflow-x: hidden;
        &.active{ height: 25px; }
      }
    }
    .cascader-area{ clear: both; padding: 10px 5px 5px; overflow: hidden;
      li{ float: left; width: 85px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-right: 3px; box-sizing: border-box;
        a{ cursor: pointer; font-size: 12px; color: #666;
          &:hover{ color: #f60 }
        }
      }
    }
  }
}
