@charset "utf-8";
$global-font-family: Arial, "Microsoft YaHei", "simsun"; //全局字体
$global-font-size: 16px; //全局字体大小
$global-background-color: #fff; //body背影颜色
$global-body-color: #333; // body文字颜色
$global-link: #333 #333 #f00 #f00; //超链接颜色4种状态颜色，link visited hover active
$global-width: 1200px; //页面主宽度
//$global-border: #e8e8e8 0 #fff; //主边框设置，边框颜色 圆角 背景色

//常用简化写法
@mixin height($h:30px) { height: $h; line-height: $h; }
@mixin opacity($opacity:30) { opacity: $opacity/100; filter: alpha(opacity=$opacity); }
@mixin clear() { display: block; content: '.'; clear: both; height: 0; line-height: 0; visibility: hidden; }
$global-placeholder:#999;

//***************************表单相关*************************/
$global-placeholder: #999; //input placeholder提示语颜色
$global-input: #fff #e2e2e2 #666 14px 330px 38px; //输入框相关；1背景颜色　2边框颜色　3字体颜色　4字体大小　5宽度 6高
$global-input-event: #f60 #333 #f00 #f00 #ddd; //输入框交互事件；获得焦点边框颜色　字体颜色　错误边框颜色 错误字体颜色　disabled状态时的背景色
$global-input-form: 40px 15px; //表单集合高，高　底边距margin-bottom
$global-input-tips: #c11920 #4ca40b; //输入框验证提示，错误颜色　正确颜色