@charset "utf-8";
.form-group{ position: relative; @include height(40px); margin-bottom: 15px;
  .label{ float: left; display: block; width: 140px; text-align: right; margin-right: 5px; font-size: 14px; }
  .form-box{ float: left; }
  &:after{ @include clear() }
  .form-explain{ float: left; margin-left: 5px;
    &:before{ font-family: "iconfont"; font-size: 22px; display: inline-block; vertical-align: middle; margin-right: 5px; }
    &.success{ color: #1dc116;
      &:before{ content: '\e6d0' }
    }
    &.failure{ color: #c11920;
      &:before{ content: '\e640' }
    }
  }
  .form-other{ display: inline-block; vertical-align: middle; }
  &.auto-height{ height: auto }
  /*验证码输入框长度*/
  .input-code .input-control{ width: 220px; }
  /*图片验证码*/
  .img-code{ display: inline-block; vertical-align: middle; cursor: pointer }
  /*验证码按钮*/
  .btn-code{ background: #108ee9; height: 40px; line-height: 40px; display: inline-block; vertical-align: middle; color: #fff; width: 85px; text-align: center; cursor: pointer;
    &.disabled{background: #ccc;cursor: not-allowed }
  }
}