@charset "utf-8";
.input-number{ position: relative; display: inline-block;
  .number-control{ position: absolute; right: 1px; top: 1px; display: block; width: 30px; height: 38px; overflow: hidden;
    a{ display: block; background: #f8f8f8; height: 20px; overflow: hidden; text-align: center; font-size: 26px; }
    .number-add:before{ content: '+'; }
    .number-less:before{ content: '－'; font-size: 40px; position: relative; left: -5px; top: -3px; }
  }
}