@charset "utf-8";
.loading{ position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 99;
  > div{position: relative;z-index: 2}
  .overlay{ position: absolute; background: rgba(55, 55, 55, .6); overflow: hidden; top: 0; height: 100%; right: 0; left: 0; bottom: 0;z-index: 1 }
  &:before{ content: ''; display: inline-block; width: 50px; height: 50px; border-radius: 50%; border: 3px solid transparent; border-top-color: #67CF22; border-right-color: #67CF22; animation: style1 1s infinite linear; left: 50%; top: 50%; transform: translate(-50%, -50%); transform-origin: 0 0;position: absolute;z-index: 2;
    @at-root{
      @keyframes style1{
        0%{ transform: rotate(0deg) translate(-50%, -50%); }
        100%{ transform: rotate(360deg) translate(-50%, -50%); }
      }
    }
  }
}