@charset "utf-8";
@import "config";
.btn{ border: 0; background: #57a3f3; border-radius: 3px; color: #fff; font-size: 14px; display: inline-block; vertical-align: middle; height: 40px; line-height: 40px; padding: 0 20px; cursor: pointer; transition: opacity .3s; overflow: hidden;
  &.btn-confirm{
    &:hover{ opacity: .8 }
  }
  &.btn-cancel{ background: #ddd; color: #333;
    &:hover{ opacity: .8 }
  }
}
.demo{ margin: 50px;
  .list{ padding: 15px;
    li{ line-height: 30px; list-style: disc }
  }
  pre{ background: #f8f8f8; padding: 10px; margin: 10px 0; line-height: 25px; white-space: inherit }
  .table-1{ width: 100%;
    td{ line-height: 25px; padding: 5px 10px; border: 1px solid #ddd }
    th{ line-height: 25px; padding: 5px 10px; border: 1px solid #ddd }
  }
}