@charset "utf-8";
@import "config";
.btn{ border: 0; background: #57a3f3; border-radius: 3px; color: #fff; font-size: 14px; display: inline-block; vertical-align: middle; height: 40px; line-height: 40px; padding: 0 20px; cursor: pointer; transition: opacity .3s; overflow: hidden;
  &.btn-confirm{
    &:hover{ opacity: .8 }
  }
  &.btn-cancel{ background: #ddd; color: #333;
    &:hover{ opacity: .8 }
  }
}
.demo{ margin: 20px auto; padding: 0 30px; max-width: 1200px; position: relative;
  .list{ padding: 15px;
    li{ line-height: 30px; list-style: disc }
  }
  pre{ background: #f8f8f8; padding: 10px; margin: 10px 0; line-height: 25px; white-space: pre-wrap; word-wrap: break-word; }
  .table-1{ width: 100%;
    td{ line-height: 25px; padding: 5px 10px; border: 1px solid #ddd }
    th{ line-height: 25px; padding: 5px 10px; border: 1px solid #ddd }
  }
  h1{ margin-bottom: 15px; }
  h2{ font-size: 18px; margin: 10px 0; font-weight: 700 }
  h3{ font-size: 16px; margin: 10px 0; font-weight: 700 }
  .comm-header{ position: absolute; right: 30px; top: 0;
    .nav-h > ul > li{ width: 220px; text-align: left;
      a{padding-left: 20px; }
    }
    .nav-h .child{height: 500px;overflow-y: auto}
  }
}