@charset "utf-8";
/*样式非必须的，用于美观外观*/
.radio-box{ cursor: pointer;
  input, span{ display: inline-block; vertical-align: middle; }
  input{ display: none; }
  .radio-inner{ border: 1px solid #666; width: 12px; height: 12px; border-radius: 50%; position: relative;
    &:after{ content: " "; opacity: 0; background-color: #108ee9; border: 0; height: 6px; left: 3px; top: 3px; width: 6px; border-radius: 50%; position: absolute; transition: all .5s; transform: scale(0) }
  }
  input:checked{
    + .radio-inner{ border-color: #108ee9;
      &:after{ opacity: 1; transform: scale(1) }
    }
  }
  input:disabled{
    + .radio-inner{ border-color: #ccc; cursor: not-allowed;
      &:after{ background: #ccc; }
    }
  }
}