@charset "utf-8";
.tabs{
  .tabs-nav{ border-bottom: 1px solid #ddd;
    .tabs-tab{ float: left; display: inline-block; vertical-align: middle; padding: 0 20px; cursor: pointer;
      &.active{ color: #2d8cf0 }
      .tip{ width: 20px; height: 20px; border-radius: 50%; background: #f00; text-align: center; line-height: 20px; display: inline-block; color: #fff; font-size: 12px; position: relative; top: -15px; }
      &.disabled{color: #999;cursor: not-allowed}
    }
  }
  .tabs-content{
    .tab-pane{ display: none;
      &.active{ display: block; }
    }
  }
}