@charset "utf-8";
.textarea-control{ padding: 10px 5px; line-height: 22px; border: 1px solid #e2e2e2; display: inline-block; width: 100%; font-size: 14px; border-radius: 3px; box-sizing: border-box; resize: none; color: #333; font-family: $global-font-family;
  &:focus{ border-color: #f60 }
}