@charset "utf-8";
.transfer{
  .transfer-panel{ width: 200px; border: 1px solid #ebeef5; border-radius: 3px; float: left;
    .checkbox{ display: inline-block; vertical-align: middle; height: 14px; width: 14px; border-radius: 3px; border: 1px solid #dcdfe6; box-sizing: border-box; background-color: #fff; transition: all 1s; position: relative; margin-right: 5px;
      &.checked{ background-color: #409eff; border-color: #409eff;
        &:after{ content: '✔'; color: #fff; position: absolute; left: 0; top: 0; height: 14px; line-height: 14px; width: 14px; font-size: 12px; }
      }
      /*&.check{ background-color: #409eff; border-color: #409eff;
        &:after{ content: '━'; color: #fff; position: absolute; left: 0; top: 0; height: 14px; line-height: 14px; text-align: center; width: 14px; }
      }*/
      &.disabled{ border-color: #dcdfe6; cursor: not-allowed; background: #edf2fc }
    }
    .transfer-head{ @include height(40px); background: #f5f7fa; padding: 0 15px; position: relative;
      .num{ position: absolute; right: 15px; top: 0; color: #999; font-size: 12px; }
    }
    .transfer-content{
      ul{ overflow-y: auto; height: 180px; }
      li{ line-height: 30px; cursor: pointer; padding: 0 15px;
        &.disabled{ color: #c0c4cc; cursor: not-allowed; }
      }
    }
  }
  .transfer-control{ float: left; padding: 0 30px; height: 222px;
    .transfer-table{ position: relative; top: 50%; transform: translateY(-50%) }
    a{ display: block; margin: 0 auto 10px; border-radius: 50%; color: #dcdfe6; background: #f5f7fa; border: 1px solid #dcdfe6; width: 36px; height: 36px; text-align: center; line-height: 36px; cursor: not-allowed;
      &.control-move{ background-color: #409eff;cursor: pointer;color: #fff }
    }
  }
}