@charset "utf-8";
.tree{
  li{ line-height: 24px; position: relative;
    i{ display: inline-block; vertical-align: middle; background: url(assets/images/tree.png) no-repeat 4px -11px; width: 18px; height: 18px; cursor: pointer;
      &.last-child{ background-position: 4px -29px }
      &.has-child{ background-position: -13px 2px }
      &.open-child{ background-position: -13px -16px }
    }
    a{ display: inline-block; vertical-align: middle; cursor: pointer;
      &.active{ color: #f00 }
    }
    ul{ padding-left: 18px; background: url(assets/images/tree.png) repeat-y -39px top; }
  }
}