@font-face {
  font-family: "iconfont"; /* Project id 1935909 */
  src: url('iconfont.woff2?t=1625627144526') format('woff2'),
       url('iconfont.woff?t=1625627144526') format('woff'),
       url('iconfont.ttf?t=1625627144526') format('truetype');
}

.iconfont,[class*="icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e610";
}

.icon-check:before {
  content: "\e6c1";
}

.icon-arrow:before {
  content: "\e61a";
}

.icon-hook:before {
  content: "\e88c";
}

.icon-lock:before {
  content: "\e88f";
}

.icon-user:before {
  content: "\e898";
}

.icon-correct:before {
  content: "\e60e";
}

.icon-eye-close:before {
  content: "\e61c";
}

.icon-error:before {
  content: "\e640";
}

.icon-del:before {
  content: "\e608";
}

.icon-top:before {
  content: "\e90c";
}

.icon-upload:before {
  content: "\e915";
}

.icon-search:before {
  content: "\e60b";
}

.icon-eye:before {
  content: "\eab4";
}

.icon-minus:before {
  content: "\e7af";
}

.icon-warn:before {
  content: "\e638";
}

.icon-close:before {
  content: "\e650";
}

.icon-plus:before {
  content: "\e625";
}

.icon-date:before {
  content: "\e6c7";
}

.icon-refresh:before {
  content: "\e615";
}

.icon-failure:before {
  content: "\e90b";
}

.icon-tips:before {
  content: "\e90d";
}

.icon-success:before {
  content: "\e90e";
}

