@charset "utf-8";
@include ns(form-item){
  margin-bottom: 22px;line-height: 40px;position: relative;
  @include ns(form-label){ text-align: right;vertical-align: middle;float: left;font-size: 14px;color: #606266;padding: 0 12px 0 0;box-sizing: border-box;width: 90px;
    div{display: inline-block;vertical-align: middle;}
    &.required{
      &:before{content: '*';color: #f00;display: inline-block;vertical-align: middle;}
    }
  }
  @include ns(form-box){float: left;position: relative;
    div{float: left}
    @include ns(checkbox){float: left}
    @include ns(switch){float: left}
  }
  &:after{content: '';clear: both;height: 0;line-height: 0;visibility: hidden;display: inline-block}
  /*错误提示*/
  @include ns(form-tips){color: #f00;margin: 0 5px;}
  /*文本框*/
  @include ns(textarea){
    display: block;float: left;
  }
  &.auto-height{height: auto;overflow: hidden;}
}
