@charset "UTF-8";
@include ns(loading){
  position: absolute;z-index: 2000;background-color: rgba(0, 0, 0, .1);margin: 0;top: 0;right: 0;bottom: 0;left: 0;transition: opacity .3s;
  @include ns(loading-spinner){top: 50%;left: 50%;width: 100%;text-align: center;position: absolute;transform: translate(-50%, -50%)}
  @include ns(icon-rotate){animation: loading-rotate 2s linear infinite;display: inline-block;
    &:before{content: "\f110";display: inline-block;font-size: 36px;}
  }
  @include ns(loading-text){color: #409eff;margin: 3px 0;font-size: 14px;}
  &.#{$namespace}loading-full{position: fixed}
}
/*过渡动画*/
@include ns(loading-fade-enter-active){animation: loading-fade-enter .3s}
@include ns(loading-fade-leave-active){animation: loading-fade-leave .3s}
@keyframes loading-fade-enter{
  0%{opacity: 0}
}
@keyframes loading-fade-leave{
  100%{opacity: 0}
}
@keyframes loading-rotate{
  100%{
    transform: rotate(360deg);
  }
}
