@charset "utf-8";
@include ns(progress){display: inline-block}
@include ns(progress-circle){
  position: relative; border-radius: 50%; box-sizing: border-box;border-color: #999;
  /*progress用作底背景色，*/
  .circle-circle{ display: block; border-radius: 50%; box-sizing: border-box; position: absolute; overflow: hidden;
    /*显示右半边，进度大小50%显示全部-*/
    /*circle-left左半环，裁切显示左半边*/
    .circle-left{ position: absolute; display: block; box-sizing: border-box; border-radius: 50%; top: 0; left: 0; }
    /*circle-right右半环，裁切显示右半边，只有进度大于50%才显示*/
    .circle-right{ position: absolute; right: 0; top: 0; display: block; box-sizing: border-box; border-radius: 50%; }
  }
  /*进度文字*/
  .progress-text{ text-align: center; left: 50%; top: 50%; transform: translate(-50%, -50%); display: block; position: absolute; font-size: 20px;}
  /*自定义文字*/
  .custom-content{position: absolute; text-align: center; top: 15px; width: 60%; left: 20%;line-height: 18px;}
}
/*直线进度*/
@include ns(progress-line){ position: relative; border-radius: 3px;background: #999;min-height: 15px;width: 400px;
  .progress-bar{ position: absolute; width: 0; left: 0; top: 0; border-radius: 3px;background: #41a259;height: 15px;line-height: 15px;text-align: right;font-size: 12px;color: #fff }
  .progress-fixed-text{position: absolute;right: -40px;top: -3px}
}
