@charset "UTF-8";
@include ns(tabs){
  .tabs-nav{position: relative;border-bottom: 2px solid #e4e7ed;height: 40px;
    .tabs-tab{float: left;padding: 0 20px;position: relative;line-height: 40px;cursor: pointer;z-index: 2;
      &:after{content: '';display: block;margin: 0 auto;height: 2px;background: #409eff;opacity: 0;width: 0;transition: all .3s}
      /*选中*/
      &.active{
        &:after{opacity: 1;width: 100%}
      }
      /*禁用*/
      &.disabled{cursor: not-allowed;color: #999}
    }
  }
  .tabs-content{padding: 20px;}
}
