@charset "UTF-8";
@import "mixins/mixins",
"table",
"formItem",
"input",
"button",
"select",
'dialog',
'loading',
'checkbox',
'datePicker',
'textarea',
'tabs',
'switch',
'radio',
'collapse',
'page',
'swiper',
'tree',
'upload',
'menu',
'lazy',
'breadcrumb',
'backTop',
'cascader',
'transfer',
'steps',
'progress',
'colorPicker',
'tooltip',
'slider';
