@charset "utf-8";
@include ns(collapse) {
  .collapse-panel {border-bottom: 1px solid $border;overflow: hidden;}
  /*title*/
  .collapse-title {height: 50px;line-height: 50px;cursor: pointer;user-select: none}
  /*content*/
  .collapse-content {padding: 10px;overflow: hidden;transition: all .3s;
  }
}
