@include ns(back-top){
  position: fixed; z-index: 99;transition: all .5s;
  a{ display: block; padding: 10px; color: #fff; text-align: center; border-radius: 2px; background: $primary; cursor: pointer;
    &:hover{ }
  }
}
